<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Google Cloud Architect course</h1> -  <h3>2022</h3> - 
            </li>
            <p>
        realizado entre febrero y agosto de 2022.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Sé Programar</h1> -  <h3>(2 meses)</h3>
            </li>
            <p>
            Conocimientos básicos en lenguajes Gobstones, Java y Ruby.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa</h1> - <h3>(9 meses)</h3>
            </li>
            <p> 
                Profundización de conocimientos de programación
            </p>
        </ul>
    </div>
</div>