<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Luciana Florencia Tejerina</p>
        <p>Full Stack Developer (Junior)</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Possimus eveniet vel quidem, officiis atque nemo 
                architecto omnis maxime voluptate dolorum quas suscipit
                facere dolore, itaque excepturi sit magni labore sunt?</p>
        </span>
    </div>

</div>
