<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>LikeChuck</h1> -  <h3>Google Cloud Architect</h3> - <h3>(6 meses)</h3>
            </li>
            <p>
        Como Google Cloud Architect en proyectos propios de la firma.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> -  <h3>--</h3> - <h3>(tiempo)</h3>
            </li>
            <p>
            descripcion del trabajo
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> -  <h3>G--</h3> - <h3>(tiempo)</h3>
            </li>
            <p> 
                descrpcion del trabajo
            </p>
        </ul>
    </div>
</div>