<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleColor]="'blue'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [title]="'GitHub'"
            [titleColor]="'blue'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'blue'"
            [titleFontSize]="'25px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Inglés'"
            [titleColor]="'blue'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'Trabajo Cooperativo'"
            [titleColor]="'blue'"
            [titleFontSize]="'18px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="18"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="700"
       ></circle-progress>
    </div>
   
</div>